h1 {
  color: $primary-red;
  margin-bottom: 30px;
}

.apartment-messages-container {
      position: relative;
  background-color: #fff;
  box-shadow: $shadow;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
  .delete-this-msg {
    display: inline-block;
    padding: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 150;
    button {
      border: none;
      background: none;
      font-size: 1.5em;
      color: #ccc;
      transition: color .2s ease-in-out;
    }
    &:hover button {
      color: $primary-red;
    }
  }
  h3 {
    font-size: 1.35em;
    font-weight: bold;
    padding-right: 40px;
    span.apartment-message-title {
      padding-left: 30px;
    }
  }
  h4 {
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px 0 5px;
  }

  .apartment-message-box {
    width: 90%;
    cursor: pointer;
    span.message-created-time {
      padding: 5px 0;
      font-size: .9em;
      color: #ccc;
    }
    span.close, span.open {
      display: none;
      position: absolute;
      margin-top: 2px;

      &.visible {
        display: block;

        i {
          color: $primary-red;
        }
      }
    }

    .message-detail {
      display: none;

      &.visible {
        display: flex;
        flex-wrap: wrap;


      .ms_user-info {
        flex-basis: 100%;
      }

      .ms_user-message {
        flex-basis: 100%;
      }
    }
    }
  }
}
@media all and (min-width:768px) {
  .apartment-messages-container .apartment-message-box .message-detail.visible .ms_user-info {
    flex-basis: 30%;
  }

  .apartment-messages-container .apartment-message-box .message-detail.visible .ms_user-message {
    flex-basis: 70%;
  }
}
