* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: white;
  color: #333;
  line-height: 26px;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(241,0,49,1);
  transition: .2s;

  &:hover {
    color: rgba(182,14,84,1);
    text-decoration: none;
  }
}

i {
  cursor: pointer;
}

.visible {
  display: block;
}

.btn-boolbnb {
      background: linear-gradient(90deg, rgba(182,14,84,1) 0%, rgba(241,0,49,1) 50%, rgba(182,14,84,1) 100%);
      color: #fff;
      opacity: 1;
      transition: opacity 0.1s linear;
    }
.btn-boolbnb:hover {
      opacity: 0.9;
      color: #fff;
    }
.boolbnb-primary-color {
  color: rgba(241,0,49,1);
}
