* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #333;
  line-height: 26px;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
