// footer  {
//   width: 100%;
//   background-color: $primary-dark;
//
// .upper-footer {
//   border-bottom: 1.5px solid lightgrey;
//
//   li {
//     line-height: 40px;
//     margin: 10px 0;
//
//       &:first-child {
//         font-weight: bold;
//         font-size: .9em;
//       }
//     }
//   }
//
//   .bottom-footer {
//     padding-top: 30px;
//     padding-bottom: 30px;
//
//      [class*="col-"] {
//       float: left;
//     }
//
//       i {
//         font-size: 1.4em;
//       }
//     }
//   }

footer  {
  width: 100%;
  background-color: $primary-dark;
  color: white;
  padding-top: 40px;

  a {
    color: white;

.upper-footer {
  border-bottom: 1.5px solid lightgrey;

  li {
    line-height: 40px;

      &:first-child {
        font-weight: bolder;
        font-size: .9em;
      }
    }
  }

  .bottom-footer {
    padding-top: 30px;
    padding-bottom: 30px;

     [class*="col-"] {
      float: left;

      .social {
        display: flex;
        justify-content: space-around;

        i {
          font-size: 1.4em;
        }
      }
    }
  }
}
}
