footer  {
  width: 100%;
  background-color: #111;
  color: #fff;

  a {
    color: #afafaf;
  }
  a:hover {
    color: $primary-red;
  }

  .upper-footer {
    display: flex;
    [class*="col-"] {
      border-bottom: 1px solid #afafaf;
    }
    ul {
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 40px 0;
      margin: 0;
      li {
        line-height: 40px;
        &:first-child {
          h3 {
            font-weight: 500;
            font-size: 1.1em;
            letter-spacing: 1px;
          }
        }
      }
    }
  }

  .bottom-footer {
    text-align: center;
    padding: 40px 0;
    .social {
      padding: 10px 0;
      a {
        i {
          font-size: 1.4em;
          margin: 0 15px;
        }
      }
    }
    .copyright {
      color: #afafaf;
      padding: 10px 0;
      letter-spacing: 1px;
    }
  }
}
