main {
  width: 100%;
  background: linear-gradient(0deg, #fff, #f5f5fa);

  .jumbotron {
    background-image: url('../../../../public/img/jumbo.jpg');
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    h1 {
      font-weight: bolder;
    }

    h2 {
      font-weight: bold;
      margin-bottom: 15px;
    }

    button {
      font-weight: bold;
    }
  }
}
