@media all and (max-width: 767px) {
  main .col-xs-12 {
    width: 70%;
    margin: auto;
  }
  footer .bottom-footer .languages {
    margin: 20px 0;
  }

  footer .bottom-footer  {
    text-align: center;
    padding: 20px 0;
  }

  footer .bottom-footer .social {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
  }

  footer .upper-footer [class*="col-"] {
    border-bottom: 1px solid white;
  }
}


@media all and (min-width: 768px) {
  // MAIN
  main {
    border-bottom: 1px solid #dddde4;
  }
  // FOOTER
  footer {
    background-color: #f5f5fa;
    color: #333;
    border-top: 1px solid #fff;
    .upper-footer {
      border-bottom: 1px solid #dddde4;
    }

    .bottom-footer {
      border-top: 1px solid #fff;
      padding-top: 30px;
      padding-bottom: 30px;

      .social {
        display: flex;
        justify-content: space-around;

        i {
          font-size: 1.4em;
        }
      }
    }
    a {
      text-decoration: none;
      color: #333;
    }

  } // end footer
} // End @media 768px

@media all and (max-width: 991px) {
  main .jumbotron .filter .container .jumbo-search-bar .search-button button {
    margin-right: 3%;
  }
}
