@media all and (max-width: 767px) {
  footer .bottom-footer .languages {
    margin: 20px 0;
    text-align: left;

    span {
      margin-right: 10px;
    }
  }

  footer .bottom-footer .social {
    margin-bottom: 30px;
  }

  footer ul {
    border-top: 1px solid white;
  }
}

@media all and (min-width: 768px) {
  footer {
    background-color: #f5f5fa;
    color: #333;
    border-top: 1px solid #fff;
    .upper-footer {
      border-bottom: 1px solid #dddde4;
    }

    .bottom-footer {
      border-top: 1px solid #fff;
    }
    a {
      text-decoration: none;
      color: #333;
    }

  } // end footer
} // End @media 768px
