.bool_ap_results{
  .bool_form{
    padding: 20px 20px 0;
  }
  .bool_filter{
    text-decoration: underline;
    color: #000;
    cursor: pointer;
    padding: 0 20px;
  }
  .bool_dropdown{
    padding: 20px 0 0 20px;
    column-count: 2;
  }
  ul{
    margin-top: 20px;
    .bool_ap{
      padding: 20px ;
      border-top: 1px solid #ebebeb;
      .bool_infos{
        display: flex;
        .bool_img_apt a img{
          height: 200px;
          border-radius: 10px;
        }
        .bool_info_apt{
          padding: 0 20px;
          a{
            text-decoration: none;
            color: #000;
            h4{
              padding-bottom: 10px;
            }
            p{
              line-height: 10px;
            }
            .bool_price{
              font-size: 18px;
              padding-top: 10px;
              font-weight: 600;
            }
          }
        }
      }
    }
    .bool_ap:last-child{
      border-bottom: 1px solid #ebebeb;
    }
  }
}
.bool_pagination{
  display: flex;
  justify-content: center;
}

.bool_map_col{
  position: relative;
  padding: 0;
  .bool_map_container{
    position: sticky;
    top: 0;
    img{
      height: 100vh;
      width: 100%;
    }
  }
}
