@media all and (min-width: 768px) {
  // =============== //
  // ADMIN SHOW PAGE //
  .show-page-wrapper .show-body .apartment-info {
    flex-basis: 55%;
  }
  .show-page-wrapper .show-body .contact-owner-container {
    border-top: none;
    flex-basis: 45%;
  }
  .show-page-wrapper .show-body .apartment-info .apartment-services .services-container .service {
    flex-basis: 50%;
  }
  .show-page-wrapper .show-body .contact-owner-container .contact-owner-form {
    padding: 20px;
    margin-bottom: 10px;
    flex-basis: 90%;
    background-color: #fff;
    box-shadow: 0px 0px 15px 1px #0000002b;
    border-radius: 10px;
  }
  // ================= //
  // ADMIN CREATE PAGE //
  .ms_add-host {
    margin-bottom: 370px;
      .form-container  {
        position: absolute;
        top: 10%;
        right: 5%;
      }
  }

  // ================= //
  // ADMIN EDIT PAGE //
  .apartment-edit-container {
    .edit-this-apartment {
      display: block;
    }
  }
}

@media all and (min-width: 992px) {
  // ================= //
  // ADMIN CREATE PAGE //
  .ms_add-host {
    margin-bottom: 300px;
  }
}

@media all and (min-width: 1200px) {

  // ================= //
  // ADMIN CREATE PAGE //
  .ms_add-host {
    margin-bottom: 200px;
  }
}
