.img-container {
  width: 60%;
  img {
    width: 100%;
  }
}

.show-page-wrapper {

  h1, h2, h3, h4, h5 {
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 0 15px;
  }
  h1 { font-size: 1.9em; }
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.6em; }
  h4 { font-size: 1.2em; }
  h5 { font-size: 1.1em; }


    // ======= Intestazione ======= //
    .show-top-heading {
      h1 { font-size: 1.8em; padding: 5px 0}
      h5 { font-weight: 400; }
      .icon {
        color: $primary-red;
      }
    } // End show-top-heading

    // ===== Image container ====== //
    .show-image-container {
      display: flex;
      flex-wrap: wrap;
      .main-image {
        flex-basis: 100%;
        img {
          // border-top-left-radius: 15px;
          // border-bottom-left-radius: 15px;
          width: 100%;
        }
      }
      // .images {
      //   display: flex;
      //   flex-wrap: wrap;
      //   flex-basis: 49%;
      //   .small-img-preview {
      //     flex-basis: 50%;
      //     img {
      //       width:100%;
      //       padding: 0  0 5px 5px;
      //     }
      //   }
      // }

    } // End show-image-containder

    // ======== Show body ========= //
    .show-body {
      display: flex;
      flex-wrap: wrap;
      .apartment-info {
        flex-basis: 100%;
        .general-info {
          padding: 15px 0;
          border-bottom: 1px solid #dddde4;
          p {
            letter-spacing: 2px;
            .divider {
              color: $primary-red;
              font-size: .8em;
            }
          }
        }
        .description {
          padding: 15px 0;
          border-bottom: 1px solid #dddde4;
          p {
            line-height: 28px;
            text-align: justify;
          }
        }
        .apartment-services {
          padding: 15px 0;
          .services-container {
            display: flex;
            flex-wrap: wrap;
            .service {
              flex-basis: 100%;
              padding: 10px 0;
              .icon {
                color: $primary-red;
                font-size: 1.1em;
                margin-right: 5px;
              }
              .name {

              }
            }
          }
        }
      }
      .contact-owner-container {
        border-top: 1px solid #dddde4;
        top: 10px;
        position: sticky;
        flex-basis: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        .contact-owner-form {
          flex-basis: 100%;
          padding: 20px 0;
          h2 {
            color: $primary-red;
            font-size: 1.6em;
          }
        }
      }
    } // End show-body

    // ========== MAP ============= //
    .show-map-container {
      padding: 20px 0;
      border-top: 1px solid #dddde4;
      border-bottom: 1px solid #dddde4;
      .marker-on-map {
        display: none;
      }
      h5 {
        font-weight: 400;
        font-size: 1.1em;
      }
      #map-example-container {
        width: 100%;
        height: 450px;
      }
    } // End show-map-container

} // End show-page-wrapper
