// Imagine sullo sfondo
.ms_add-host {
  width: 100%;
  position:relative;
    img.ms_bg-img {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 50px;
    }
    .form-container {
      background-color: #fff;
      border-radius: 15px;
      padding: 20px 20px 50px;
      box-shadow: 0px 0px 15px 1px #0000002b;
      .service-icon {
        font-size: 1.1em;
        color: #f10031;
        padding: 0 5px;
      }
    }

    h2 {
        color: rgba(241,0,49,1);
    }
    .btn-boolbnb {
      background: linear-gradient(90deg, rgba(182,14,84,1) 0%, rgba(241,0,49,1) 50%, rgba(182,14,84,1) 100%);
      color: #fff;
      opacity: 1;
      transition: opacity 0.1s linear;
    }
    .btn-boolbnb:hover {
      opacity: 0.8;
    }


}
