@media all and (min-width: 768px) {
  // =============== //
  // ADMIN SHOW PAGE //

  // ================= //
  // ADMIN CREATE PAGE //
  .ms_add-host {
    margin-bottom: 500px;
      .form-container  {
        position: absolute;
        top: 25%;
        right: 5%;
      }
  }

  // ================= //
  // ADMIN EDIT PAGE //
  .apartment-edit-container {
    .edit-this-apartment {
      display: block;
    }
  }
}

@media all and (min-width: 992px) {
  // ================= //
  // ADMIN CREATE PAGE //
  .ms_add-host {
    margin-bottom: 430px;
  }
}

@media all and (min-width: 1200px) {

  // ================= //
  // ADMIN CREATE PAGE //
  .ms_add-host {
    margin-bottom: 350px;
  }
}
