@media all and (min-width: 768px) {
  // =============== //
  // ADMIN SHOW PAGE //
  .show-page-wrapper .show-body .apartment-info {
    flex-basis: 50%;
  }
  .show-page-wrapper .show-body .contact-owner-container {
    border-top: none;
    flex-basis: 50%;
  }
  .show-page-wrapper .show-body .apartment-info .apartment-services .services-container .service {
    flex-basis: 50%;
  }

  // ================= //
  // ADMIN CREATE PAGE //
  .ms_add-host {
    margin-bottom: 500px;
      .form-container  {
        position: absolute;
        top: 15%;
        right: 5%;
      }
  }

  // ================= //
  // ADMIN EDIT PAGE //
  .apartment-edit-container {
    .edit-this-apartment {
      display: block;
    }
  }
}

@media all and (min-width: 992px) {
  // ================= //
  // ADMIN CREATE PAGE //
  .ms_add-host {
    margin-bottom: 430px;
  }
}

@media all and (min-width: 1200px) {

  // ================= //
  // ADMIN CREATE PAGE //
  .ms_add-host {
    margin-bottom: 350px;
  }
}
