@media all and (min-width: 768px) {
  .ms_add-host {
    margin-bottom: 500px;
      .form-container  {
        position: absolute;
        top: 25%;
        right: 5%;
      }
  }
}

@media all and (min-width: 992px) {
    .ms_add-host {
      margin-bottom: 430px;
    }
}

@media all and (min-width: 1200px) {
    .ms_add-host {
      margin-bottom: 350px;
    }
}
