* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #333;
  line-height: 26px;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f10031;
  transition: 0.2s;
}

a:hover {
  color: #b60e54;
  text-decoration: none;
}

.btn-boolbnb {
  background: linear-gradient(90deg, #b60e54 0%, #f10031 50%, #b60e54 100%);
  color: #fff;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.btn-boolbnb:hover {
  opacity: 0.9;
  color: #fff;
}

.boolbnb-primary-color {
  color: #f10031;
}

main {
  width: 100%;
  background: linear-gradient(0deg, #fff, #f5f5fa);
}

main .jumbotron {
  background-image: url(/images/jumbotron.jpg?c031f3966ca8fac168c825b734584265);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 0;
}

main .jumbotron .filter {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

main .jumbotron .filter .container {
  text-align: center;
  color: white;
  padding-top: 70px;
}

main .jumbotron .filter .container .jumbo-search-bar {
  height: 70px;
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

main .jumbotron .filter .container .jumbo-search-bar input {
  width: 90%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.03);
  color: white;
  border: none;
}

main .jumbotron .filter .container .where-bar {
  height: 100%;
  width: 100%;
}

main .jumbotron .filter .container .where-bar span {
  display: flow-root;
}

main .jumbotron .filter .container .search-button {
  flex-basis: 10%;
  margin-right: 10px;
}

main .jumbotron .filter .container .search-button button {
  border-radius: 100%;
  padding: 12px;
  margin-top: 11px;
}

main .jumbotron .filter .container .search-button button i {
  font-size: 1.4em;
  vertical-align: sub;
}

main .jumbotron .filter h1 {
  font-weight: bold;
  font-size: 3em;
}

main .jumbotron .filter h2 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 2.3em;
}

main .card-section {
  display: flex;
  padding-bottom: 60px;
}

main .card-section .box {
  height: 350px;
  flex-basis: 25%;
  margin-top: 60px;
  box-shadow: 0px 0px 15px 1px #0000002b;
  border-radius: 10px;
  transition: all 0.4s ease;
}

main .card-section .box:hover {
  transform: scale(1.1);
}

main .card-section .box .image {
  height: 60%;
}

main .card-section .box .image img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main .card-section .box .text {
  height: 40%;
  padding: 10px;
  background-color: #F4F4F4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding-top: 40px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #f10031;
}

footer .upper-footer {
  display: flex;
}

footer .upper-footer ul {
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .upper-footer ul li {
  line-height: 40px;
}

footer .upper-footer ul li:first-child {
  font-weight: bolder;
  font-size: 0.9em;
}

footer .upper-footer .bottom-footer [class*=col-] {
  float: left;
}

footer .upper-footer .bottom-footer [class*=col-] .social {
  display: flex;
  justify-content: space-around;
}

footer .upper-footer .bottom-footer [class*=col-] .social i {
  font-size: 1.4em;
}

@media all and (max-width: 767px) {
  main .col-xs-12 {
    width: 70%;
    margin: auto;
  }

  footer .bottom-footer .languages {
    margin: 20px 0;
  }

  footer .bottom-footer {
    text-align: center;
    padding: 20px 0;
  }

  footer .bottom-footer .social {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
  }

  footer .upper-footer [class*=col-] {
    border-bottom: 1px solid white;
  }
}

@media all and (min-width: 768px) {
  main {
    border-bottom: 1px solid #dddde4;
  }

  footer {
    background-color: #f5f5fa;
    color: #333;
    border-top: 1px solid #fff;
  }

  footer .upper-footer {
    border-bottom: 1px solid #dddde4;
  }

  footer .bottom-footer {
    border-top: 1px solid #fff;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  footer .bottom-footer .social {
    display: flex;
    justify-content: space-around;
  }

  footer .bottom-footer .social i {
    font-size: 1.4em;
  }

  footer a {
    text-decoration: none;
    color: #333;
  }
}

.office-heading {
  font-size: 1.5em;
}

.user-apartments .ms_apartments-table {
  padding: 3px;
  border: 1px solid #dddde4;
}

.user-apartments table {
  border-collapse: collapse;
}

.user-apartments table thead {
  text-align: center;
}

.user-apartments table tbody {
  text-align: center;
}

.user-apartments table tbody tr {
  padding: 50px 0;
  border-spacing: 10px;
}

.user-apartments table tbody tr:last-child {
  border-bottom: 1px solid #dddde4;
}

.user-apartments table tbody th.ms_data {
  font-size: 0.8em;
  text-align: center;
  vertical-align: middle;
}

.user-apartments table tbody td {
  vertical-align: middle;
  border-right: 1px solid #dddde4;
}

.user-apartments table tbody td .controls-btn {
  font-size: 0.8em;
  display: block;
  padding: 0 5px;
  margin: 5px auto;
  background-color: #fff;
  border: 1px solid #dddde4;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.user-apartments table tbody td .controls-btn.normal:hover {
  border: 1px solid #70e296;
  background-color: #70e296;
  color: #fff;
  text-decoration: none;
}

.user-apartments table tbody td form.form-delete .delete {
  width: 100%;
}

.user-apartments table tbody td form.form-delete .delete:hover {
  border: 1px solid #e3342f;
  background-color: #e3342f;
  color: #fff;
  text-decoration: none;
}

.user-apartments table tbody td:last-child {
  border-right: none;
}

.user-apartments table tbody .apartment-foto-block {
  width: 15%;
}

.user-apartments table tbody .apartment-foto-block .apartment-foto {
  overflow: hidden;
  width: 100%;
}

.user-apartments table tbody .apartment-foto-block .apartment-foto img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.user-apartments table tbody .apartment-foto-block:hover img {
  transform: scale(1.05);
}

.user-apartments table tbody .apartment-title {
  text-align: left;
}

.user-apartments table tbody .apartment-icons {
  color: #ccc;
}

.ms_add-host {
  width: 100%;
  position: relative;
}

.ms_add-host img.ms_bg-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 50px;
}

.ms_add-host .form-container {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 20px 50px;
  box-shadow: 0px 0px 15px 1px #0000002b;
}

.ms_add-host .form-container .service-icon {
  font-size: 1.1em;
  color: #f10031;
  padding: 0 5px;
}

.ms_add-host h2 {
  color: #f10031;
}

.ms_add-host .btn-boolbnb {
  background: linear-gradient(90deg, #b60e54 0%, #f10031 50%, #b60e54 100%);
  color: #fff;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.ms_add-host .btn-boolbnb:hover {
  opacity: 0.8;
}

.ms_add-host .edit-price-error {
  display: none;
  background-color: #f00032;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.ms_add-host .edit-price-error.visible {
  display: block;
}

.edit-apartment-heading {
  font-size: 1.8em;
}

.edit-apartment-title {
  padding: 20px 0 30px;
  letter-spacing: 1px;
}

.apartment-edit-container {
  background-color: #fff;
  box-shadow: 0px 0px 15px 1px #0000002b;
  padding: 20px 20px 50px;
  border-radius: 15px;
}

.apartment-edit-container .edit-this-apartment {
  padding-right: 20px;
  border-right: 1px solid #dddde4;
  height: 100%;
  display: none;
}

.apartment-edit-container .edit-this-apartment .edit-apartment-foto {
  width: 100%;
}

.apartment-edit-container .edit-this-apartment .edit-apartment-foto img {
  width: 100%;
  border-top-left-radius: 15px;
}

.apartment-edit-container .edit-this-apartment .edit-apartment-info .edit-apartment-row {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #eeeef9;
}

.apartment-edit-container .edit-this-apartment .edit-apartment-info .edit-apartment-row .edit-column {
  padding: 10px 0;
  flex-basis: 50%;
  font-size: 0.9em;
}

.apartment-edit-container .edit-this-apartment .edit-apartment-info .edit-apartment-row .left {
  text-align: left;
}

.apartment-edit-container .edit-this-apartment .edit-apartment-info .edit-apartment-row .right {
  text-align: right;
  font-weight: bold;
  letter-spacing: 2px;
}

.apartment-edit-container .edit-price-error {
  display: none;
  background-color: #f00032;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.apartment-edit-container .edit-price-error.visible {
  display: block;
}

@media all and (min-width: 768px) {
  .show-page-wrapper .show-body .apartment-info {
    flex-basis: 50%;
  }

  .show-page-wrapper .show-body .contact-owner-container {
    border-top: none;
    flex-basis: 50%;
  }

  .show-page-wrapper .show-body .apartment-info .apartment-services .services-container .service {
    flex-basis: 50%;
  }

  .show-page-wrapper .show-body .contact-owner-container .contact-owner-form {
    padding: 20px;
    margin: 20px 10px;
    flex-basis: 75%;
    background-color: #fff;
    box-shadow: 0px 0px 15px 1px #0000002b;
    border-radius: 10px;
  }

  .ms_add-host {
    margin-bottom: 500px;
  }

  .ms_add-host .form-container {
    position: absolute;
    top: 25%;
    right: 5%;
  }

  .apartment-edit-container .edit-this-apartment {
    display: block;
  }
}

@media all and (min-width: 992px) {
  .ms_add-host {
    margin-bottom: 430px;
  }
}

@media all and (min-width: 1200px) {
  .ms_add-host {
    margin-bottom: 350px;
  }
}

.bool_ap_results .bool_form {
  padding-top: 20px;
}

.bool_ap_results .bool_form .bool_input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
  font-size: 16px;
}

.bool_ap_results .bool_form .bool_input:focus,
.bool_ap_results .bool_form .btn-boolbnb:focus {
  border-color: #f10031;
  box-shadow: none;
}

.bool_ap_results .bool_filter {
  color: #000;
  border: 1px solid #B0B0B0;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 15px;
}

.bool_ap_results .bool_filter:hover,
.bool_ap_results .bool_filter:focus {
  border: 1px solid #222222;
}

.bool_ap_results .bool_icon {
  color: #f10031;
}

.bool_ap_results .bool_dropdown {
  padding: 20px 0 0 20px;
  -moz-column-count: 2;
       column-count: 2;
}

.bool_ap_results ul {
  margin-top: 20px;
}

.bool_ap_results ul .bool_ap {
  padding: 20px 0 0 0px;
  border-top: 1px solid #ebebeb;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.bool_ap_results ul .bool_ap .bool_img_apt {
  width: 45%;
  padding-bottom: 20px;
}

@media all and (max-width: 768px) {
  .bool_ap_results ul .bool_ap .bool_img_apt {
    width: 100%;
  }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  .bool_ap_results ul .bool_ap .bool_img_apt {
    width: 45%;
  }
}

.bool_ap_results ul .bool_ap .bool_img_apt a img {
  width: 100%;
  border-radius: 10px;
}

.bool_ap_results ul .bool_ap .bool_info_apt {
  width: 55%;
  padding-left: 20px;
}

@media all and (max-width: 768px) {
  .bool_ap_results ul .bool_ap .bool_info_apt {
    width: 100%;
    padding: 0 20px 0 0;
  }
}

@media all and (min-width: 769px) and (max-width: 1200px) {
  .bool_ap_results ul .bool_ap .bool_info_apt {
    width: 55%;
    padding-right: 20px;
  }
}

.bool_ap_results ul .bool_ap .bool_info_apt a {
  text-decoration: none;
  color: #000;
}

.bool_ap_results ul .bool_ap .bool_info_apt a h4 {
  margin: 10px 0;
}

.bool_ap_results ul .bool_ap .bool_info_apt a hr {
  width: 50px;
}

.bool_ap_results ul .bool_ap .bool_info_apt a .bool_info_text {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 15px;
  color: #7e7571;
}

.bool_ap_results ul .bool_ap .bool_info_apt a .bool_price {
  text-align: right;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}

.bool_ap_results ul .bool_ap:last-child {
  border-bottom: 1px solid #ebebeb;
}

.bool_pagination {
  display: flex;
  justify-content: center;
}

.bool_map_col {
  position: relative;
  padding-right: 0;
}

@media all and (max-width: 1200px) {
  .bool_map_col {
    display: none;
  }
}

.bool_map_col .bool_map_container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.bool_map_col .bool_map_container img {
  height: 100vh;
  width: 100%;
}

.img-container {
  width: 60%;
}

.img-container img {
  width: 100%;
}

.show-page-wrapper h1,
.show-page-wrapper h2,
.show-page-wrapper h3,
.show-page-wrapper h4,
.show-page-wrapper h5 {
  letter-spacing: 1px;
  font-weight: bold;
  padding: 10px 0 15px;
}

.show-page-wrapper h1 {
  font-size: 1.9em;
}

.show-page-wrapper h2 {
  font-size: 1.8em;
}

.show-page-wrapper h3 {
  font-size: 1.6em;
}

.show-page-wrapper h4 {
  font-size: 1.2em;
}

.show-page-wrapper h5 {
  font-size: 1.1em;
}

.show-page-wrapper .show-top-heading h1 {
  font-size: 1.8em;
  padding: 5px 0;
}

.show-page-wrapper .show-top-heading h5 {
  font-weight: 400;
}

.show-page-wrapper .show-top-heading .icon {
  color: #f10031;
}

.show-page-wrapper .show-image-container {
  display: flex;
  flex-wrap: wrap;
}

.show-page-wrapper .show-image-container .main-image {
  flex-basis: 50%;
}

.show-page-wrapper .show-image-container .main-image img {
  width: 100%;
  padding: 0 5px 10px 0;
}

.show-page-wrapper .show-image-container .images {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 49%;
}

.show-page-wrapper .show-image-container .images .small-img-preview {
  flex-basis: 50%;
}

.show-page-wrapper .show-image-container .images .small-img-preview img {
  width: 100%;
  padding: 0 0 5px 5px;
}

.show-page-wrapper .show-body {
  display: flex;
  flex-wrap: wrap;
}

.show-page-wrapper .show-body .apartment-info {
  flex-basis: 100%;
}

.show-page-wrapper .show-body .apartment-info .general-info {
  padding: 15px 0;
  border-bottom: 1px solid #dddde4;
}

.show-page-wrapper .show-body .apartment-info .general-info p {
  letter-spacing: 2px;
}

.show-page-wrapper .show-body .apartment-info .general-info p .divider {
  color: #f10031;
  font-size: 0.8em;
}

.show-page-wrapper .show-body .apartment-info .description {
  padding: 15px 0;
  border-bottom: 1px solid #dddde4;
}

.show-page-wrapper .show-body .apartment-info .description p {
  line-height: 28px;
  text-align: justify;
}

.show-page-wrapper .show-body .apartment-info .apartment-services {
  padding: 15px 0;
}

.show-page-wrapper .show-body .apartment-info .apartment-services .services-container {
  display: flex;
  flex-wrap: wrap;
}

.show-page-wrapper .show-body .apartment-info .apartment-services .services-container .service {
  flex-basis: 100%;
  padding: 10px 0;
}

.show-page-wrapper .show-body .apartment-info .apartment-services .services-container .service .icon {
  color: #f10031;
  font-size: 1.1em;
  margin-right: 5px;
}

.show-page-wrapper .show-body .contact-owner-container {
  border-top: 1px solid #dddde4;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  flex-basis: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.show-page-wrapper .show-body .contact-owner-container .contact-owner-form {
  flex-basis: 100%;
  padding: 20px 0;
}

.show-page-wrapper .show-body .contact-owner-container .contact-owner-form h2 {
  color: #f10031;
  font-size: 1.6em;
}

.show-page-wrapper .show-map-container {
  padding: 20px 0;
  border-top: 1px solid #dddde4;
  border-bottom: 1px solid #dddde4;
}

.show-page-wrapper .show-map-container .marker-on-map {
  display: none;
}

.show-page-wrapper .show-map-container h5 {
  font-weight: 400;
  font-size: 1.1em;
}

.show-page-wrapper .show-map-container #map-example-container {
  width: 100%;
  height: 450px;
}

@media all and (min-width: 768px) {
  .show-page-wrapper .show-body .apartment-info {
    flex-basis: 50%;
  }

  .show-page-wrapper .show-body .contact-owner-container {
    border-top: none;
    flex-basis: 50%;
  }

  .show-page-wrapper .show-body .apartment-info .apartment-services .services-container .service {
    flex-basis: 50%;
  }

  .show-page-wrapper .show-body .contact-owner-container .contact-owner-form {
    padding: 20px;
    margin: 20px 10px;
    flex-basis: 75%;
    background-color: #fff;
    box-shadow: 0px 0px 15px 1px #0000002b;
    border-radius: 10px;
  }

  .ms_add-host {
    margin-bottom: 500px;
  }

  .ms_add-host .form-container {
    position: absolute;
    top: 25%;
    right: 5%;
  }

  .apartment-edit-container .edit-this-apartment {
    display: block;
  }
}

@media all and (min-width: 992px) {
  .ms_add-host {
    margin-bottom: 430px;
  }
}

@media all and (min-width: 1200px) {
  .ms_add-host {
    margin-bottom: 350px;
  }
}

