* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #333;
  line-height: 26px;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  min-height: 500px;
}

footer {
  width: 100%;
}

footer .upper-footer {
  border-bottom: 1.5px solid lightgrey;
}

footer .upper-footer li {
  line-height: 40px;
  margin: 10px 0;
}

footer .upper-footer li:first-child {
  font-weight: bold;
  font-size: 0.9em;
}

footer .bottom-footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .bottom-footer [class*=col-] {
  float: left;
}

footer .bottom-footer .languages {
  display: flex;
  justify-content: space-around;
}

footer .bottom-footer .social {
  display: flex;
  justify-content: space-around;
}

footer .bottom-footer .social i {
  font-size: 1.4em;
}

footer .bottom-footer ul,
footer .bottom-footer li {
  display: inline-block;
}

@media all and (max-width: 768px) {
  footer .bottom-footer .languages {
    margin-bottom: 30px;
    display: block;
  }

  footer .bottom-footer .languages span {
    margin-right: 10px;
  }

  footer .bottom-footer .social {
    margin-bottom: 30px;
    display: block;
  }

  footer .bottom-footer .social i {
    margin-right: 15px;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.bool_row {
  padding: 20px 0;
}

.bool_filters h4 {
  padding: 10px 0;
}

.bool_filters_container {
  width: 75%;
}

.bool_filters_container ul .bool_filters_li {
  padding-left: 21px;
}

.bool_filters_container ul .bool_filters_li .bool_filters_li:first-child {
  padding-left: 0;
}

.bool_filters_container ul .bool_filters_li .bool_filters_li span {
  padding-left: 2px;
  font-size: 16px;
}

.bool_ap_results {
  padding-top: 30px;
}

.bool_ap_results .bool_ap {
  padding: 20px;
  border-top: 1px solid #ebebeb;
}

.bool_ap_results .bool_ap .bool_infos {
  display: flex;
}

.bool_ap_results .bool_ap .bool_infos .bool_img_apt a img {
  height: 200px;
  border-radius: 10px;
}

.bool_ap_results .bool_ap .bool_infos .bool_info_apt {
  padding: 0 20px;
}

.bool_ap_results .bool_ap .bool_infos .bool_info_apt a {
  text-decoration: none;
  color: #000;
}

.bool_ap_results .bool_ap:last-child {
  border-bottom: 1px solid #ebebeb;
}

.bool_map_col {
  position: relative;
  padding: 0;
}

.bool_map_col .bool_map_container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.bool_map_col .bool_map_container img {
  height: 100vh;
  width: 100%;
}

